/* GENERAL STYLES */

*{
	margin: none;
	padding: none;
}

/* GAME WRAPPER */

#wrapper{
	width: 90%;
	margin: 88px auto;
	overflow: hidden;
	/* background: red; */ /* debug */
	clear: both;
}

/* SHAPE WRAPPERS */


/* selector for the SVG wrapper */
.shape-wrapper{
	width: 22%;
	height: 22%;
	margin: 1.5%;
	background: url(svg/dot.png) no-repeat center center;
	background-size: 25%;
	float: left;
	clear: right;
	overflow: visible;
}

.shape-wrapper .currentshape{
	background: url( svg/dot-active.png) no-repeat center center;
}

.shape-wrapper:active, .shape-wrapper:hover{
	background: none;
}




/* KEYBOARD STYLES BEGIN HERE */

/* MAKE SHAPES COLORLESS FOR KEYBOARD */
#keyboard #CIRCLE, #keyboard #TRIANGLE, #keyboard #SQUARE, #keyboard #PENTAGON{
	fill: #D0D2D3;
}


#keyboard{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	background: #f8f8f8;
	display: block;
	overflow: hidden;
	height: 176px;
	z-index: 99;
	clear: both;
}

#keyboard .shape-wrapper{
	width: 22%;
	height: 22%;
	margin: 1.5%;
}


/* Centering div for web and large devices */

.centerme{
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
}
#keyboard .centerme{
	position: relative;
	margin-top: 22px;
	background: none;
}

#toolbar .centerme{
	width: 80%;
	max-width: 600px;
}

/* TOOL BAR BEGIN */

#toolbar{
	background: white;
	position: absolute;
	width: 100%;
	top:0;
	left: 0;
	opacity: 0.5;
	height: 88px;
}


/* PROGRESS BAR TIMER */

#nprogress{
	background:#dbdbdb;
	z-index:100;
	width:92%;
	margin:0 auto 22px auto;
	height:4px;
	clear: both;
	border-radius: 2px;
}

.nprogress-custom-parent {
	overflow:hidden;
	position:relative;
}

.progressBar {
	margin:0 auto;
	min-height:4px;
}

