

/* Controls all SVG Elements */
svg{
	 width: 110px;
	 height: 110px;
	 display: block;
	 cursor: pointer;
}

svg .exit{
	 width: 10px;
	 height: 10px;
	 cursor: pointer;
}

svg:hover{
	opacity: 0.8;
}

/* Controls Shape Colors and Effects */
/*
#CIRCLE{
	 fill: #4eb7d1;
}

#TRIANGLE{
	 fill: #ff5d87;	
}

#SQUARE{
	 fill: #95c15b;
}


#PENTAGON{
	 fill: #ffc26c;	
}
*/

.blue{
	 fill: #4eb7d1;
}

.pink{
	 fill: #ff5d87;	
}

.green{
	 fill: #95c15b;
}


.yellow{
	 fill: #ffc26c;	
}

#keyboard .blue{
	 background: #4eb7d1 !important;
	 border-radius: 88px;
	 opacity: 1.0;
}

#keyboard .pink{
	 background: #ff5d87 !important;
	 border-radius: 88px;	
	 opacity: 1.0;
}

#keyboard .green{
	 background: #95c15b !important;
	 border-radius: 88px;
	 opacity: 1.0;
}

#keyboard .yellow{
	 background: #ffc26c !important;
	 border-radius: 88px;
	 opacity: 1.0;	
}

/* Shape Animation Events */

/* MAKE SHAPES APPEAR */
.appear{
	-webkit-animation:enter .3s;
	-webkit-animation-iteration-count: 1;
}

.appear #TRIANGLE, .appear #SQUARE, .appear #CIRCLE, .appear #PENTAGON{
	-webkit-animation:entercolor .3s;
	-webkit-animation-iteration-count: 1;
}

@-webkit-keyframes enter{
  0%   {width:6px; height 6px; -webkit-transform: translate(64px, 8px) rotate(-185deg);}
  100% {-webkit-transform: translate(0, 0) rotate(0deg);}
}

@-webkit-keyframes entercolor {
  0%   {fill: #D0D2D3;}
  40%   {fill: #D0D2D3;}
  100% {}
}

/* MAKE SHAPES GO AWAY */

.disappear{
	-webkit-animation:exit .5s;
	-webkit-animation-iteration-count: 1;
	background: white;
}


.disappear polygon{
	-webkit-animation:exitopacity .4s;
	-webkit-animation-iteration-count: 1;
}

.disappear circle{
	-webkit-animation:exitopacity .4s;
	-webkit-animation-iteration-count: 1;
}

.disappear rect{
	-webkit-animation:exitopacity .4s;
	-webkit-animation-iteration-count: 1;
}


@-webkit-keyframes exit {
  0%   { opacity: 1;  background: rgba(210, 211, 212, 0); width: 110px; height:110px;}
  100% {opacity: 1;-webkit-transform: translate(55px, 58px); -webkit-filter: blur(0px); background: #D0D2D3; border-radius: 88px; width: 5px; height:5px;}
}



@-webkit-keyframes exitopacity {
  0% { opacity: 1;}
  60% {opacity:0;}
  100%  {opacity:0;}
}


/* END ANIMATIONS */